.sect2 img{
    width: 10%;
}
.sect2{
    display: flex;
}
.bag-card{
    border: none;
}
.bag-card img{
    padding: 10px;
    background-color: #F1F1F1;
    border-radius: 10px;
}
.bag-card-footer{
    border: none;
}
