.bebas{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}
.bag-card{
    border: none;
}
.bag-card img{
    padding: 10px;
    background-color: #F1F1F1;
    border-radius: 10px;
}
.bag-card-footer{
    border: none;
}
.btn-color{
    background-color: #2A1E59;
    color: white;
}
.price-color{
    color:#76C27E ;
}
.big-font{
    font-size: 5em;
}
.contact-us{
    background-color:#76C27E ;
    border-radius: 10px;
    color: white;
}